__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
coverage.xml
*.coveragerc
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
cython_debug/
.ipynb_checkpoints
.vscode/
.idea/
venv/
env/
ENV/
venv.bak/
*.env
*.venv
.DS_Store
Thumbs.db
.trash
